.container {
    padding: $spacing;
    max-width: $container-max-width;
    margin: 0 auto;
}

.flash {
    width: 100%;
    padding: $spacing;
    background-color: $flash-background-color;
    border: 1px solid $flash-border-color;
}

.text-light {
    color: $text-color-light;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-italic {
    font-style: italic;
}
