.content a {
    color: $anchor-color;
}

.section:not(:last-child),
.post:not(:last-child) {
    margin-bottom: ($spacing * 2);
}

.post-header {
    margin-bottom: $spacing;
}

.section-title,
.post-header .title,
.post-header .title a {
    color: $text-color-dark;
    font-size: $font-size-large;
}

.post-header .date {
    color: $text-color-light;
    font-size: $font-size-small;
}

b, p, h1, h2, h3, h4, h5, h6, ol, ul, img, pre, code, form, footer, header, strong, blockquote, .margin-bottom {
    margin-bottom: $spacing;

    &:last-child {
        margin-bottom: 0;
    }
}

.post-footer {
    margin-top: $spacing;
    color: $text-color-light;
    font-size: $font-size-small;
}

.section-header {
    margin-bottom: $spacing;
}
