@media screen and (max-width: 800px) {
    .header-flex {
        justify-content: space-between;
    }

    .header-nav li {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .header {
        text-align: center;
    }

    .header-flex {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .header-info {
        margin-bottom: $spacing;
    }

    .header-nav li {
        display: inline-block;
    }
}

@media screen and (max-width: 400px) {
    .header-flex {
        display: block;
    }

    .header-nav li {
        display: block;
    }
}
