ul.pagination {
    list-style: none;
    display: block;

    & .page-item {
        display: inline-block;
        margin-right: ($spacing / 4);

        &.disabled a {
            cursor: default;
            pointer-events: none;
            opacity: 0.75;
        }

        &.active a {
            background-color: $color-theme;
            color: #fff;
            cursor: default;
            pointer-events: none;
        }

        &:not(.active):not(.disabled):hover a {
            background-color: lighten($color-theme, 30%);
        }

        & a {
            border-radius: 3px;
            display: inline-block;
            padding: ($spacing / 4) ($spacing / (4/3));
            text-decoration: none;
            background-color: transparent;
            color: $text-color-base;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
