// Body
$body-background-color: white;

// Containers
$container-max-width: 1000px;

// Colors
$color-theme: #69d1c5;

$color-default: #efefef;
$color-primary: #88a1b3;
$color-danger: #cc5357;

$anchor-color: #3ba99c;

$text-color-dark: #333;
$text-color-base: #666;
$text-color-light: #999;

// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: "Operator Mono", "Fira Mono", Consolas, monospace;

$font-size-small: 18px;
$font-size-base: 20px;
$font-size-large: 24px;

$line-height-base: 1.75;

$font-weight-bold: 500;
$font-weight-normal: 400;

// Line spacing (margin and padding)
$spacing: 20px;

// Header
$header-background-color: $color-theme;
$header-text-color: white;
$header-anchor-color: $header-text-color;

$header-min-height: 250px;

// Styling
$border-color: #d0d0d0;
$border-color-light: #f0f0f0;

$form-border-color: $border-color;

// Flash
$flash-background-color: #f0f0f0;
$flash-border-color: $border-color;
