.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Grid-cell {
  flex: 1;
}

.Grid--flexCells > .Grid-cell {
  display: flex;
}

.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}

.Grid--justifyCenter {
  justify-content: center;
}

.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}

.Grid-cell--autoSize {
  flex: none;
}

.Grid--fit > .Grid-cell {
  flex: 1;
}

.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%;
}

.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%;
}

.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%;
}

@media (--break-sm) {
  .small-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (--break-md) {
  .med-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .med-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .med-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .med-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .med-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (--break-lg) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

.Grid--gutters {
  margin: -1rem 0 1rem -1rem;
}
.Grid--gutters > .Grid-cell {
  padding: 1rem 0 0 1rem;
}

.Grid--guttersLg {
  margin: -1.5rem 0 1.5rem -1.5rem;
}
.Grid--guttersLg > .Grid-cell {
  padding: 1.5rem 0 0 1.5rem;
}

.Grid--guttersXl {
  margin: -2rem 0 2rem -2rem;
}
.Grid--guttersXl > .Grid-cell {
  padding: 2rem 0 0 2rem;
}

@media (--break-sm) {
  .small-Grid--gutters {
    margin: -1rem 0 1rem -1rem;
  }
  .small-Grid--gutters > .Grid-cell {
    padding: 1rem 0 0 1rem;
  }
  .small-Grid--guttersLg {
    margin: -1.5rem 0 1.5rem -1.5rem;
  }
  .small-Grid--guttersLg > .Grid-cell {
    padding: 1.5rem 0 0 1.5rem;
  }
  .small-Grid--guttersXl {
    margin: -2rem 0 2rem -2rem;
  }
  .small-Grid--guttersXl > .Grid-cell {
    padding: 2rem 0 0 2rem;
  }
}

@media (--break-md) {
  .med-Grid--gutters {
    margin: -1rem 0 1rem -1rem;
  }
  .med-Grid--gutters > .Grid-cell {
    padding: 1rem 0 0 1rem;
  }
  .med-Grid--guttersLg {
    margin: -1.5rem 0 1.5rem -1.5rem;
  }
  .med-Grid--guttersLg > .Grid-cell {
    padding: 1.5rem 0 0 1.5rem;
  }
  .med-Grid--guttersXl {
    margin: -2rem 0 2rem -2rem;
  }
  .med-Grid--guttersXl > .Grid-cell {
    padding: 2rem 0 0 2rem;
  }
}

@media (--break-lg) {
  .large-Grid--gutters {
    margin: -1rem 0 1rem -1rem;
  }
  .large-Grid--gutters > .Grid-cell {
    padding: 1rem 0 0 1rem;
  }
  .large-Grid--guttersLg {
    margin: -1.5rem 0 1.5rem -1.5rem;
  }
  .large-Grid--guttersLg > .Grid-cell {
    padding: 1.5rem 0 0 1.5rem;
  }
  .large-Grid--guttersXl {
    margin: -2rem 0 2rem -2rem;
  }
  .large-Grid--guttersXl > .Grid-cell {
    padding: 2rem 0 0 2rem;
  }
}
