.btn {
    padding: 5px 10px;
    border: 1px solid darken($color-default, 5%);
    background-color: #fff;
    border-radius: 2px;
    color: $font-color-light;
    text-decoration: none;
    display: inline-block;
    font-size: $font-size;
    line-height: $line-height;
    cursor: pointer;
    vertical-align: middle;
    font-weight: $font-weight;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        text-decoration: none;
        background-color: darken($color-default, 3.5%);
    }

    &:focus {
        outline: 0;
        border-color: darken($color-default, 25%);
    }

    &.btn-sm {
        padding: $padding-extra-small;
        font-size: ($font-size * 0.75);
    }

    &.btn-lg {
        padding: $padding-small $padding-normal;
    }

    &.btn-block {
        width: 100%;
        display: block;
    }

    &.btn-primary {
        border-color: darken($color-primary, 5%);
        background-color: $color-primary;
        color: #fff;

        &:hover {
            background-color: darken($color-primary, 3.5%);
        }

        &:focus {
            border-color: darken($color-primary, 25%);
        }
    }

    &.btn-danger {
        border-color: darken($color-danger, 5%);
        background-color: $color-danger;
        color: #fff;

        &:hover {
            background-color: darken($color-danger, 3.5%);
        }

        &:focus {
            border-color: darken($color-danger, 25%);
        }
    }

    &.btn-clear {
        border-color: transparent;
        background-color: transparent;
        color: $font-color-light;

        &:hover {
            background-color: transparent;
            text-decoration: underline;
        }

        &:focus {
            border-color: transparent;
        }
    }
}
