.material-icons {
    font-size: $font-size;
    line-height: $line-height;
    vertical-align: middle;
}

.container {
    max-width: $max-width;
    margin: 0 auto;
    padding: $padding-normal;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.text-italic {
    font-style: italic;
}

.text-light {
    color: $font-color-light;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.box {
    padding: $padding-normal;
    border: 1px solid $border-color;
    border-radius: 2px;
    margin-bottom: $margin-normal;

    &:last-child {
        margin-bottom: 0;
    }
}
