.content {
    h1, h2, h3, h4, h5, h6, strong, .text-strong {
        font-weight: $font-weight-strong;
        color: $font-color;
    }

    h1 {
        font-size: ($font-size * 1.6);
    }

    h2 {
        font-size: ($font-size * 1.4);
    }

    h3 {
        font-size: ($font-size * 1.2);
    }

    h4 {
        font-size: $font-size;
    }

    h5 {
        font-size: ($font-size * 0.8);
    }

    h6 {
        font-size: ($font-size * 0.6);
    }

    b, p, h1, h2, h3, h4, h5, h6, ol, ul, img, pre, code, footer, header, strong, blockquote {
        margin-bottom: $margin-small;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
