.content {
    h1, h2, h3, h4, h5, h6, strong, .text-strong {
        font-weight: $font-weight-strong;
        color: $font-color;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    h6 {
        font-size: 0.6rem;
    }

    b, p, h1, h2, h3, h4, h5, h6, ol, ul, img, pre, code, footer, header, strong, blockquote {
        margin-bottom: $margin-small;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
