*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: $font-family;
    color: $font-color;
    font-weight: $font-weight;
    line-height: $line-height;
    background-color: #fff;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

section {
    margin-bottom: $margin-normal;

    &:last-child {
        margin-bottom: 0;
    }
}

hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid $border-color;
    margin-top: -1px;
    margin-bottom: $margin-small;
}

ul.list-group {
    list-style: none;
    border: 1px solid $border-color;
    border-radius: 0.2rem;

    & .list-group-item {
        padding: $padding-normal;
        border-bottom: 1px solid $border-color;

        &:last-child {
            border-bottom: 0;
        }
    }
}

ul.pagination {
    margin-top: $margin-normal;
    list-style: none;
    display: block;

    & .page-item {
        display: inline-block;
        margin-right: $margin-extra-small;

        &.disabled a {
            cursor: default;
            pointer-events: none;
            opacity: 0.75;
        }

        &.active a {
            background-color: $color-theme;
            color: #fff;
        }

        &:not(.active):not(.disabled):hover a {
            background-color: lighten($color-theme, 30%);
        }

        & a {
            border-radius: 0.2rem;
            display: inline-block;
            padding: 0.25rem 0.75rem;
            text-decoration: none;
            background-color: transparent;
            color: $font-color;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
