.form-group {
    display: block;
    margin-bottom: $margin-normal;

    &.has-error {
        & .form-label {
            color: $color-danger;
        }

        & .form-input {
            border-color: $color-danger;
        }

        & .error-message {
            margin-top: $margin-extra-small;
            color: $color-danger;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.form-label {
    display: block;
    margin-bottom: $margin-extra-small;
}

.form-input {
    padding: $padding-small;
    border: 1px solid $form-border-color;
    border-radius: 0.2rem;
    color: $font-color-light;
    width: 100%;
    background-color: #fff;
    font-size: 0.925rem;
    font-family: $font-family;
    line-height: $line-height;

    &:focus {
        outline: 0;
        border-color: darken($form-border-color, 25%);
    }
}

textarea.form-input {
    resize: vertical;
    height: auto;
}
