$max-width: 900px;

$font-color: #555;
$font-color-light: #777;

$font-family: "Segoe UI", sans-serif;
$line-height: 1.5;
$font-size: 18px;

$font-weight: 400;
$font-weight-strong: 500;

$color-theme: #70c1b3;

$color-default: #efefef;
$color-primary: #88a1b3;
$color-danger: #cc5357;

$padding-medium: 25px;
$padding-normal: 20px;
$padding-small: 10px;
$padding-extra-small: 5px;

$margin-medium: 25px;
$margin-normal: 20px;
$margin-small: 10px;
$margin-extra-small: 5px;

$border-color: #d0d0d0;
$border-color-light: #f0f0f0;

$form-border-color: $border-color;
